#cont {
    width:350px;
    height:200px;
    
}


body {
    background-color: rgb(23, 206, 212);
}

.salmon-border {
    border:2px solid salmon
}

#snapTab {
    background-color: red;
    color:white
}

#snapTab:hover {
    opacity:0.6;
    color:white;
}

#manageBtn {
    background-color: yellowgreen;
    color: white;
}

#manageBtn:hover{
    opacity: 0.6;
}

.logo {
    padding-top: 15px !important;
    color: rgb(250, 253, 56);
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 8px #FF0000;
}

p{
    color: white;
    font-family:cursive;
    font-size: 10px;
    text-shadow: 2px 2px 8px #FF0000;
    margin:0 !important;
    color: yellow
}

.card {
    max-height: 250px;
    width: 300px;
    overflow-y: scroll;
    background-color:rgb(1, 1, 97);
    border-radius: 13px;
    border: 2px solid yellow
}


.card-title {
    color:rgb(62, 250, 25)
}

::-webkit-scrollbar {
    width: 8px; 
  }

  ::-webkit-scrollbar-track {
    background:rgb(201, 204, 39);
    border-bottom: 0px;
    border-radius: 10px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 50px;
    height: 20px;
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: plum
  }


li ,a {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-family: cursive;
    color: rgb(185, 226, 104)
}

a:hover {
    color: red
}

.align {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

h6:hover {
    cursor: pointer;
    background-color: yellow !important;
    color: green
}

.closeBtn {
    height:min-content;
}